
.background, html, body{
    background-color: rgb(255, 234, 253);
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
}


.maintitle {
    position: absolute;
    top: 5px;
    left: 20px; 
    text-align: center;
    border: none;
    padding: 2vw 1vw;
    font-size: 30px;
    font-family: "Arial Black", sans-serif;
}
.filtertitle {
    position: absolute;
    background-color: rgb(255, 244, 255);
    top: 100px; 
    left: 15px; 
    text-align: center;
    padding: 0.3vw 0.2vw;
    border: none;
    font-size: 20px;
    font-family: "Arial Black", sans-serif;
}

.recipeContainer{
    background-color: rgb(255, 234, 253);
    padding:0;

    width: 300px;
    height: 400px;
}

.modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .comment-section {
    width: 100%;
    height: 50%;
  }
  
  .comment-input-container {
    position: relative;
  }
  
  .comment-input {
    width: calc(100% - 80px);
    resize: vertical;
  }
  
  .submit-button {
    text-align: center;
    position: absolute;
    bottom: 5px; 
    right: 5px;
    width: 60px;
    height: 30px;
    font-size: 14px;
  }
  .swiperightbutton{
    background-color: #ddffe8;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius:50%;
    opacity: .6;

  }

  .swipeleftbutton{
    background-color: #fff0ef;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius:50%;
    opacity: .6;

  }

  .profileicon{
    position: absolute;
    text-align: right;
    top: 14px; 
    right: 30px; 
  }