/* App.css */
/* App.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.follow-counts {
  text-align: right;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item{
  width: 30%;
}
.editButton{
  width: 20%;
  height: 30%;

}